.nav-item a:not(.button).is-tab:hover,
a.nav-item:not(.button).is-tab:hover {
    color: #fff;
    border-bottom-color: #fff;
}
.nav-item a:not(.button).is-tab.is-active,
a.nav-item:not(.button).is-tab.is-active {
    color: #fff;
    border-bottom: 3px solid #fff;
}
a {
    color: #3273dc;
}
.hljs {
    background-color: transparent;
}
.shadow-hover:hover{
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
}
.card-footer{
    border-top:none;
}
.goto-top {
    z-index: 200;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(141deg,#1577c6 0,#3273dc 71%,#4366e5 100%);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.goto-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/* Attempt at a dark theme for bulma */

body {
    background-color: #333333;
}

.hero.is-dark .tabs.is-boxed li.is-active a,
.hero.is-dark .tabs.is-boxed li.is-active a:hover,
.hero.is-dark .tabs.is-toggle li.is-active a,
.hero.is-dark .tabs.is-toggle li.is-active a:hover {
    background-color: #383838;
    border-color: rgba(255,255,255,0.1);
    color: #ffffff;
}

.nav {
    background-color: #383838;
}

.nav.has-shadow {
    border-bottom: solid 1px rgba(0,0,0,0.6);
    border-top: solid 1px;
}

.nav-item a:not(.button),
a.nav-item:not(.button) {
    color: #a9a9a9;
}

.card {
    background-color: #1e1e1e;
    color: #fff;
}

.card-header {
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.card-header-title {
    color: #fff;
}

.content table thead td,
.content table thead th {
    color: #fff;
}

.content table th {
    color: #fff;
}

.content table td,
.content table th {
    border: 1px solid #797979;
}

.content table tr:hover {
    background-color: #151515;
}

.request-url {
    border-bottom: 1px solid rgba(255,255,255,.1);
    padding: .5rem;
}

hr {
    background-color: #292929;
}

.title,
.subtitle {
    color: white;
    text-decoration: none;
}

.notification.is-danger {
    background-color: #790000;
}

.hero.is-dark {
    background-color: #212121;
}

body, button, input, select, textarea {
    font-family: 'Roboto', sans-serif;
}

.input.is-active,
.input.is-focused,
.input:active,
.input:focus,
.textarea.is-active,
.textarea.is-focused,
.textarea:active,
.textarea:focus {
    border-color: #fff;
}

.input,
.textarea {
    background-color: #383838;
    border-color: #212121;
    color: #ffffff;
}