.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    color: #3273dc;
}
.nav-item a.is-tab:hover, a.nav-item.is-tab:hover {
    border-bottom-color: #3273dc;
}
.nav-item a.is-tab.is-active, a.nav-item.is-tab.is-active {
    color: #3273dc;
    border-bottom: 3px solid #3273dc;
}
a {
    color: #3273dc;
}
